faiss-cpu
msal
numpy
openai>1.0.0
Requests
tqdm
transformers>=4.40
rich
tenacity
spacy
datasets>=2.18.0
wandb
sentencepiece>=0.2.0
accelerate==0.29.1
scikit-learn
deepspeed>=0.14.1
vllm==0.4.1
ray[serve]==2.11.0
black